<html>
<head>
	<title> Home Page</title>

	<link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
    	/* CODE */
  	</script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"> 
  	</script>
  <style>
    .center {
    	text-align: center;
    }

    h1 {text-align: center;
    }


   </style>

</head>

<body>

<h1> 
	<font face = "WildWest" size = "20">Castilla Foods</font>
</h1>

</body>




</html>