<html>
<head>
	<title> Home Page</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
    	/* CODE */
  	</script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"> 
	  </script>

	<!-- CSS -->
	<link rel="stylesheet" href="../public/css/home.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


</head>

<body>

<!-- header image -->	
<img src="https://images.unsplash.com/photo-1496116218417-1a781b1c416c?ixlib=rb-1.2.1&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;ixid=eyJhcHBfaWQiOjYzOTIxfQ&amp;w=3600" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 50%;">

<!-- header text -->
<div class="centerContainer">
	<h1 id="siopau">
		<font face= "headerFont"> SioPau </font> 
	</h1>
	<h2  id="subtitle">Castilla Frozen Foods Management System</h2>
</div>


<!-- options container -->
<div class="optionsContainer">
	<!-- images for options -->
	<div class="row">
	  <div class="column optionImage">
	    <img src="https://cdn.discordapp.com/attachments/375169170180014081/743749345651720252/chorizo-mozarella-gnocchi-bake-cropped.png" alt="Orders" style="width:100%">
	  </div>
	  <div class="column optionImage">
	    <img src="https://cdn.discordapp.com/attachments/375169170180014081/743749345651720252/chorizo-mozarella-gnocchi-bake-cropped.png" alt="Inventory" style="width:100%">
	  </div>
	  <div class="column optionImage">
	    <img src="https://cdn.discordapp.com/attachments/375169170180014081/743749345651720252/chorizo-mozarella-gnocchi-bake-cropped.png" alt="Contacts" style="width:100%">
	  </div>
	</div>
	
	<!-- options -->
	<div class="row">
		<div class="col module">

			<h4 class="moduleTitle"> Inventory </h4>
			<div class = "row">
				<div class="col">
					<div class="option">
						<a href="inventory.html" class="optionTab">Manage Inventory</a>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class="col">
					<div class="option">
						<a href="#" class="optionTab">Business Transactions</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col module"> 
			<h4 class="moduleTitle"> Orders </h4>
			<div class = "row">
				<div class="col">
					<div class="option">
						<a href="orders.html" class="optionTab">Manager Orders</a>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class="col">
					<div class="option">
						<a href="inventory.html" class="optionTab">Add New Order</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col module"> 
			<h4 class="moduleTitle"> Contacts </h4>
			<div class = "row">
				<div class="col">
					<div class="option">
						<a href="contacts.html" class="optionTab">Manage Contacts</a>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class="col">
					<div class="option">
						<a href="inventory.html" class="optionTab">Add New Contact</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" id="reports">
	
</div>
</body>
