<!-- Home / home.hbs -->
<html>
<head>
	<title> Home Page</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/home.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>

	<!-- header image -->	
	<img src="/images/banner.jpg" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 50%;">

	<!-- header text -->
	<div class="centerContainer">
		<h1 id="siopau">
			<font face= "headerFont"> SioPau </font> 
		</h1>
		<h2  id="subtitle">{{this.name}}</h2>
		<h3 id="subtitle_delete"><a id="subtitle_delete" href="/user/logout">Log Out</a></h3>
	</div>




	<!-- options container -->
	<div class="optionsContainer">
		<!-- images for options -->
		<div class="row">
		  <div class="column optionImage">
			<img src="/images/options.png" alt="Orders" style="width:100%">
		  </div>
		  <div class="column optionImage">
			<img src="/images/options.png" alt="Inventory" style="width:100%">
		  </div>
		  <div class="column optionImage">
			<img src="/images/options.png" alt="Contacts" style="width:100%">
		  </div>
		</div>
		
		<!-- options -->
		<div class="row">
			<div class="col module">

				<h4 class="moduleTitle"> Inventory </h4>
				<div class = "row">
					<div class="col">
						<div class="option">
							<a href="/inventory" class="optionTab">Manage Inventory</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col module"> 
				<h4 class="moduleTitle"> Orders </h4>
				<div class = "row">
					<div class="col">
						<div class="option">
							<a href="/orders" class="optionTab">Manager Orders</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col module"> 
				<h4 class="moduleTitle"> Contacts </h4>
				<div class = "row">
					<div class="col">
						<div class="option">
							<a href="/contacts" class="optionTab">Manage Contacts</a>
						</div>
					</div>
			</div>
		</div>

	<!-- reports -->	
	<div class="container" id="reports">
		<div class="jumbotron bg-white">
			<label><h3>Reports</h3></label>
			

			
			<div class="dropdown" style="float:right;">
				<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Search by
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Day</a>
					<a class="dropdown-item" href="#">Week</a>
					<a class="dropdown-item" href="#">Month</a>
				</div>
			</div>		
			<label style="color:#A39E9C"> <b>Amount Earned</b> </label>
			<p class="info"><b>4530</b></p> 
			<label style="color:#A39E9C"> <b> Completed Orders</b></label>
			<p class="info"><b>10</b></p> 

		</div>
	</div>
		
	<!-- ongoing orders -->
	<div class="container" id="onGoingOrders">
		<div class="jumbotron bg-white">
			<label><h4>Ongoing Orders</h4></label>
			<div class="dropdown" style="float:right;">
				<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sort by
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Order No.</a>
					<a class="dropdown-item" href="#">Status</a>
					<a class="dropdown-item" href="#">Delivery Date</a>
				</div>
			</div>	
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Order No.</th>
						<th scope="col">Contact Number</th>
						<th scope="col">Address</th>
						<th scope="col">Status</th>
						<th scope="col">Delivery Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">0001</th>
						<td>09292684572</td>
						<td>17, G.Cleveland St. Parkwood</td>
						<td>Confirmed</td>
						<td>Aug 20, 2020</td>
					</tr>
					<tr>
						<th scope="row">0002</th>
						<td>09987654321</td>
						<td>3rd Avenue Baranggay Lito</td>
						<td>Paid</td>
						<td>Aug 17, 2020</td>
					</tr>
					<tr>
						<th scope="row">0004</th>
						<td>09987456321</td>
						<td>18, G.Greenwood St. Paul</td>
						<td>Confirmed</td>
						<td>Aug 18, 2020</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Low Stock Products -->
	<div class="container" id="onGoingOrders">
		<div class="jumbotron bg-white">
			<label><h4>Low Stock Products</h4></label>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Product</th>
						<th scope="col">Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Pork Siomai</th>
						<td>3</td>
					</tr>
					<tr>
						<th scope="row">Siopao (Asado)</th>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">Siopao (Bola-Bola) </th>
						<td> 2 </td>
					</tr>
					<tr>
						<th scope="row">Gyoza</th>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<!-- JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>