<html>
<head>
	<title> Home Page</title>

	<link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
    	/* CODE */
  	</script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"> 
  	</script>
  <style>
    .center {
    	text-align: center;
    }

    .centerContainer {
    	  border: 2px solid white;
		  margin: 20px;
		  padding: 20px;
    }

    h1 {text-align: center;
    }
	@font-face {
	  font-family: headerFont;
	  src: url(sansation_light.woff);
	}

	.optionsContainer{
		border: 5px solid white;
		margin: 20px;
		margin-left: 40%;
		padding: 20px;
		text-align: left;
	}

   </style>

</head>

<body>

<div class="centerContainer">
	<h1 style="margin-top: 0px; margin-bottom: 0px; line-height: 1.1; font-weight: 700; text-align: center; color: rgb(17, 17, 17); font-size: 74px; letter-spacing: -0.025em;">
		<font face= "headerFont"> SioPau </font> 
	</h1>
	<h2 style="margin-top: 10px; text-align: center; font-weight: normal; font-size: 20px; color: rgba(0, 0, 0, 0.6); line-height: 1.5;">A management system for organizing your business needs</h2>
</div>

<div class="optionsContainer">
	<h3> Orders </h3>
	<h3> Inventory </h3>
	<h3> Customer Contacts </h3>
</div>
</body>




</html>