body {
    font-family: 'Noto Sans';
    color: #37352F;
    padding: 0;
    margin: 0;
}

#backgroundImage {
	width: 100%;
	height: 970px;
	background: url("");
	object-fit: cover;
	margin: 0;
	padding-left: 0px;
}

#imageCol {
	padding: 0;
}

#title {
	margin-top: 250px;
}

.loginInput {
	max-width: 500px;
	min-width: 400px;
}

.loginBox {
	border: 0;
    border-bottom: 2px solid #6e6a5e;
    outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

@font-face {
  font-family: headerFont;
  src: url(sansation_light.woff);
}

#siopau {
	text-align: center;
	font-weight: 800;
	font-size: 100px;
}